name: .NET 9 MAUI Build

on:
  push:
    branches:
      - main
      - unit-testing
    paths-ignore:
      - "*.md"
  pull_request:
    branches:
      - main
    paths-ignore:
      - "*.md"

env: 
  WORKING_DIRECTORY: 'GoatVaultClient-v3'

jobs:
  build-android:
    name: Build Android
    runs-on: windows-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 9.0.x

      - name: Install MAUI workload
        run: dotnet workload install maui-android

      - name: Restore dependencies
        run: dotnet restore ${{ env.WORKING_DIRECTORY }} -f net9.0-android

      - name: Build Android
        run: dotnet build ${{ env.WORKING_DIRECTORY }}/GoatVaultClient-v3.csproj -c Release -f net9.0-android

  build-windows:
    name: Build Windows
    runs-on: windows-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 9.0.x

      - name: Install MAUI workload
        run: dotnet workload install maui-windows

      - name: Restore dependencies
        run: dotnet restore ${{ env.WORKING_DIRECTORY }} -f net9.0-windows10.0.19041.0

      - name: Build Windows
        run: dotnet build ${{ env.WORKING_DIRECTORY }}/GoatVaultClient-v3.csproj -c Release -f net9.0-windows10.0.19041.0