name: .NET 9 MAUI Build

on:
  push:
    branches:
      - main
    paths-ignore:
      - "*.md"
  pull_request:
    branches:
      - main
    paths-ignore:
      - "*.md"

jobs:
  build:
    runs-on: windows-latest
    env:
      PROJECT_PATH: GoatVaultClient-v3  # MAUI project folder

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup .NET 9 SDK
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 9.0.x
          
      - name: Install MAUI workload
        run: dotnet workload install maui

      - name: Restore dependencies
        run: dotnet restore
        working-directory: ${{ env.PROJECT_PATH }}

      - name: Build
        run: dotnet build --configuration Release --no-restore
        working-directory: ${{ env.PROJECT_PATH }}
