name: .NET 9 MAUI Build

on:
  push:
    branches:
      - main
      - pipeline-deployment
    paths-ignore:
      - "*.md"
  pull_request:
    branches:
      - main
    paths-ignore:
      - "*.md"

env: 
  WORKING_DIRECTORY: './GoatVaultClient-v3'

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Setup .NET 9 SDK
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: '9.0.x'

    - name: Install MAUI workload
      run: dotnet workload install maui

    - name: Restore dependencies
      run: dotnet restore
      working-directory: ${{ env.WORKING_DIRECTORY }}

    # - name: Run tests
    #   run: dotnet test GoatVaultClientTests\GoatVaultClientTests.csproj

    - name: Build the project
      run: dotnet build GoatVaultClient-v3.csproj -c Release -f:net9.0-windows10.0.19041.0
      working-directory: ${{ env.WORKING_DIRECTORY }}

    - name: Publish the project
      run: dotnet publish GoatVaultClient-v3.csproj -c Release -f:net9.0-windows10.0.19041.0
      working-directory: ${{ env.WORKING_DIRECTORY }}

    - name: Upload ZIP Artifact
      uses: actions/upload-artifact@v4
      with:
        name: GoatVaultClient-v3-AppPackages
        path: ${{ env.WORKING_DIRECTORY }}/bin/Release/net9.0-windows10.0.19041.0/win-x64/AppPackages/**/*.msix

